# WCH CH342 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d2", \
        ATTR{bInterfaceNumber}=="0[02]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH343 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH344 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d5", \
        ATTR{bInterfaceNumber}=="0[0246]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9143 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d6", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH347T Mode0 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55da", \
        ATTR{bInterfaceNumber}=="0[02]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH347T Mode1 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55db", \
        ATTR{bInterfaceNumber}=="00", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH347T Mode3 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55dd", \
        ATTR{bInterfaceNumber}=="00", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH347F UART0 & UART1 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55de", \
        ATTR{bInterfaceNumber}=="0[02]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH339W USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55e7", \
        ATTR{bInterfaceNumber}=="00", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9101 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d8", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9102 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d4", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9103 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d7", \
        ATTR{bInterfaceNumber}=="0[02]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9104 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55df", \
        ATTR{bInterfaceNumber}=="0[0246]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9111 Mode0 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55e9", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9111 Mode1 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55ea", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9114 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55df", \
        ATTR{bInterfaceNumber}=="0[0246]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH346 Mode0/1 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55eb", \
        ATTR{bInterfaceNumber}=="00", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH346 Mode2 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55ec", \
        DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 

# WCH CH9105 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55ef", \
        ATTR{bInterfaceNumber}=="0[0246]", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 	

# WCH CH9433 USB/Serial converter
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5510", \
        ATTR{bInterfaceNumber}=="01", DRIVER=="cdc_acm", \
	MODE="0660", GROUP="plugdev", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/cdc_acm/unbind'", \
	RUN+="/bin/sh -c 'echo %k > /sys/bus/usb/drivers/usb_ch343/bind'" 	
